body {
  background-image: url(../img/back2.png);
  background-repeat: no-repeat;
  background-size: cover;
  /* background-size: cover; */
  /* background-position: top; */
  font-family: 'Courier New', monospace;
  font-size: 2em;

}

h1 {
  color: navy;
  margin-left: 20px;
}

#content {
    position: relative;
}
#content img {
    max-width: 400px;
    position: absolute;
    top: 0px;
    right: 0px;
     opacity: 0.4;
}

.centered {
  position: fixed; /* or absolute */
  top: 50%;
  left: 50%;
  /* bring your own prefixes */
  transform: translate(-50%, -50%);
}

.scope{
  font-size: 0.7em;
  padding-top: 20px;
  padding-left: 20px;
}

.contact{
  font-size: 0.6em;
  padding-top: 20px;
  padding-left: 20px;
  line-height: 1.2em;
  text-align: center;
}
